@model List<E_OgrenmeApp.Models.Dersler>
@using System.Web.Optimization

<!doctype html>
<html lang="en">
<head>
    @Styles.Render("~/Admin/styles")
    <meta charset="utf-8">
    <title>E-Öğrenme</title>
    <meta name="description" content="Kurumsal Blog Tasarımı">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="Burak TÜRKERİ">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

</head>
<body>

    <div class="container">
        <div class="row mt-4">
            <div class="col-md-8">

                <h1>Öne Çıkan Makaleler</h1>
                <hr class="bg-info">

                <div class="card mb-4">
                    <img class="card-img-top img-fluid" src="~/1.jpg">
                    <div class="card-body">
                        <h2 class="card-title">Dünya’nın en ağır atomu ölçüldü ve beklenenden daha garip şeyler bulundu</h2>
                        <p class="card-text">
                            Oganesson (Og) periyodik tablodaki en ağır elementtir, ancak ilk sentezinin yapıldığı 2002 yılından beri özelliklerinin bulunması zor olmuştur. Şimdi ise bilgisayar simülasyonu bazı boşlukları doldurdu ve elementin daha da garip özellikleri ortaya çıktı.

                            Atom düzeyinde, oganesson elementi daha hafif olanlara nazaran ciddi ölçüde farklı davranıyor – bu süper-ağır elementlerin nasıl çalıştığına ilişkin temel düşünceleri bununla elde edebiliriz.

                            Uluslar arası bilim insanlarının oluşturduğu simülasyonlara göre oganesson’un elektronları, protonları ve nötronları, bu elementin de yer aldığı asal gazlar grubundaki kurallara uymuyor. Bu da dolayısı ile periyodik tablonun bu bölümünü nasıl anladığımıza ilişkin büyük bir etki yapıyor.

                            Ksenon (üst), radon (orta) ve oganesson (alt) atomlarının elektronik yapıları. (P. Jerabek et al ve APS/Alan Stonebraker)

                            Michigan Devlet Üniversitesi’nden Witek Nazarewicz bu çalışmayı yapan araştırmacılardan biri, ve “bu süper ağır elementler çekirdek kütlesi ve yükünün sınırını temsil ediyor” diyor. “Bunlar, ucu bucağı bilinmeyen nükleer bölgenin uzak köşelerinde yer alıyor”.

                            “Süper-ağır sistemlerle ilgili sorular nükleer ve atom fiziği ile kimyasal araştırmanın en önünde yer alıyor”.

                            Oganesson’un bulunduğu asal gaz ailesinin hafif elementlerinde, atomun Bohr modeline göre elektronlar çekirdek etrafında belli yörüngeler veya konumlar alıyor ve merkez etrafında kabuk benzeri gruplar oluşturuyor. Fermion yerleşim fonksiyonları gibi hesaplamalar bu elektron kabuklarının nerede olduğunu bulmak için yapılıyor, ancak oganesson atomunun oluşturduğu büyük elektrostatik kuvvetlerle birlikte özel relativite kuralları devreye girmiş oluyor.

                            Araştırmacılar bunu hatırlarında tutarak oganesson’da elektronların nerede olduğunu hesaplamak için elektron yerleştirme fonksiyonları olarak bilinen fermion yerleştirme fonksiyonlarının adapte edilmiş bir halini kullandılar. Buldukları da şu idi, elektron kabukları birbirlerinden neredeyse ayrılamaz bir haldeydi ve çekirdek etrafında bir elektron gazı oluşmuştu.

                            Başka bir deyişle, en esas seviyede ksenon veya neon gibi bir asal gazdaki gibi hiç değildi.

                            Çalışmanın paydaşlarından biri olan, Yeni Zelanda’daki Massey Üniversitesi’nde çalışan Peter Schwerdtfeger: “Kâğıt üzerinde bu ailenin diğer üyelerindeki gibi bazı nadir gaz yapısını bulacağımızı düşünüyorduk”.

                            “Hesaplarımıza göre, oganesson kabuk yapısını az ya da çok kaybediyor ve bir elektron bulutu meydana geliyor”.

                            Özel gaz bulutu yapısı süper-ağır çekirdeğin içindeki nötronlar için de geçerli, araştırmacıların hesaplarına göre protonlar ise bir tür kabuk benzeri yapıyı korumuş gibi görünüyorlar.

                            Burada bahsettiğimiz şey derin bir kuantum fiziğinden başka bir şey değil, ancak bunun anlamı şu, oganesson elementi gruptaki diğer elementlerden oldukça farklı. Elektronlarının oluşturduğu bulutsu yapı bu elementin diğer grupdaşlarına göre çok daha reaktif olacağı anlamına geliyor.

                            Bir başka sonuç da oganesson atomlarının oda sıcaklığında bir katı olacağını ve bir gazda olduğu gibi birbirleriyle çarpışmayacağını söylüyor.

                            Bunların bilgisayar simülasyonları olduğunu aklınızdan çıkarmayın, her ne kadar bunlar çok karışık hesaplamalar olsa da oganesson’a ait çalışmalar değil. Elementin üretilmesi çok zor ve normal yollarla incelenemeyecek kadar çabuk bozunuyor.

                            Elimizde 118 numaralı elementin yapısı ve özellikleri hakkında bazı tahminler olduğuna göre, bilim adamları deney yapabilir ve bu hipotezleri test edebilir. Bu da araştırmanın sonraki safhası oluyor.

                            Yakın zamanda, bu görüşler bir milisaniyeden daha fazla kararlı olabilen bir oganesson atomu üretilebilmesine yardımcı olabilir .

                            Schwerdtfeger, “Şu anda elimizdeki araçlarla oganesson’un davranışlarını tahmin etmenin tek yolu hesaplama yapmak ve epeyce ilginç bulgular elde etmiş durumdayız” diyor.

                            Çalışma Physical Review Letters dergisinde yayınlandı.
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        <span>Yayınlandığı Tarih: 07.04.2018 22:09</span>
                    </div>
                </div>

                <div class="card mb-4">
                    <img class="card-img-top img-fluid" src="~/2.jpg">
                    <div class="card-body">
                        <h2 class="card-title">Saklı Cennet: Nesin Matematik Köyü</h2>
                        <p class="card-text">
                            Nesin Matematik Köyü doğanın içinde saklı bir cennet. Geçtiğimiz hafta Niceliksel Evrim Çalıştayı nedeniyle Matematik Köyü’ndeydim. Şirince’ye yürüyerek 15 dakika uzaklıktaki bu ufacık yer gerek bilimsel çalışmalar yapmak için gerekse inzivaya çekilmek için mükemmel bir yer.

                            Köy dediğimiz aslında bir kaç tane taş bina. Biri asma katı kütüphane olan amfi. İçinde iki yüz kişinin rahatlıkla ders dinleyebileceği bu amfi, dört beş yaşındaki çocuklara verilen matematik kurslarından, lise öğrencilerinin üniversite hazırlık kamplarına, üniversite öğrencilerinin yaz okullarından, uluslararası akademik toplantılara kadar farklı farklı seviyelerdeki çalışmalara ev sahipliği yapıyor. Çeşitli dillerdeki, matematik, felsefe, bilim ve sanatla ilgili birkaç bin kitap gelen misafirlerin her daim ellerinin altında.

                            Kütüphane dışında yatakhanelerin bulunduğu birkaç ufak taş ev bu misafirlere horoz ötüşleriyle uyandırılacakları huzurlu bir uyku vaat ediyor. Her daim taze çay bulunan yemekhanede üç öğün bağımılık yapacak derecede güzel ev yemekleri çıkıyor. Saat 4’te verilen kek, börek, poğaça da cabası. Şu an amma da çok övdün dediğinizi duyar gibiyim. Ancak gördüğünüz gibi kalbimi köyde bırakıp geldim ve bu güzellikleri herkesin görmesini, herkesin oradan faydalanmasını istiyorum. O yüzden izin verin devam edeyim.

                            Köyün mimarisi de beni en çok etkileyen şeylerden biriydi. Adım başı kemerler, amfi tiyatrolar, çeşmeler, yakınlarda bulunan Efes ve diğer pek çok antik kentin atmosferini köye taşıyorlardı. Bu yapıların çevresine ise pek çok rahat koltuk ve minder yerleştirilmiş ki insanlar rahatça otursun sohbet etsin, tartışsın, düşünsün, hatta hayal kursun. Küçük çalışma grupları için çok elverişli olacak irili ufaklı açık hava sınıflarında bilgisayarları bağlamak için priz bile unutulmamış. Sanat köşesi de favori yerlerimden biriydi. Sanat kitaplarıyla bezenmiş taş duvarlarının ortasında şömine bulunan bu oda felsefik tartışmalar için birebir.

                            İnternet bağlantısının çok iyi olmaması ise bir eksiklik değil tercih edilen bir durum. Oradayken, daha doğrusu dönünce nedenini çok iyi anlıyor insan. Otobüsteki gençlere iyi bir bakın, pek çoğunun gözü ellerindeki telefonlarında. Artık sohbetler sanal ortamda daha keyifli. An paylaşınca değil face’ten paylaşınca güzel. Oysa orada internet olmayınca mecbur insan birbirine dönüyor, ve çok da güzel oluyor. Yeni arkadaş edindiğim kişinin facebook profiline bakacağıma onunla konuşmak çok daha keyifli. Ayrıca internet kısıtlı olunca insan daha konsantre çalışıyor. Dolayısıyla ilk an büyük bir şokla karşıladığım eksiklik bir haftada boş vakit aktivitelerimi sorgulamama sebep oldu.

                            Eğer arabalı değilseniz, Nesin Köyü’ne kendi başımıza ulaşım kolay değil. O yüzden köydekilerle anlaşıp kendinizi havaalanından ya da Selçuk’tan aldırtmak en iyisi. Zaten köydekiler çok sıcak ve yardımsever, sinek sokmasına bile alerji geliştirebilen bünyem için hemen krem bile verdiler bana.

                            Bu konu üzerine yazılabilecek daha çok şey var ama şimdilik sadece izlenimlerimi paylaşmak istedim.  Yapılacak her tür toplantınız için Nesin Matematik Köyü’nün şehirden uzak, ferah ve doğal ortamını mutlaka düşünün derim.
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        <span>Yayınlandığı Tarih: 07.04.2018 22:09</span>
                    </div>
                </div>

                <div class="card mb-4">
                    <img class="card-img-top img-fluid" src="~/3.jpg">
                    <div class="card-body">
                        <h2 class="card-title">Bu plastik torba %100 biyo-bozunur ve bitkilerden yapılmış</h2>
                        <p class="card-text">
                            Endonezya’daki bir firma o kadar ekoloji dostu bir plastik torba üretti ki, onu yiyebilirsiniz bile.

                            Bali’deki Avani Eco isimli şirket görünümü ve hissi plastiği andıran ancak tamamen bozunabilir ve kompostlanabilir özellikte bir torba üretti. Bu torba suda da çözünüyor, dolayısıyla hayvanlar bunu yediğinde bir sorun oluşmuyor. Firmaya göre ürün o kadar zararsız ki, insanlar bunu yutabilir.

                            Endonezya’nın büyük bir plastik kirliliği sorunu var. Atılmış plastikler nehirleri tıkıyor ve önceden muhteşem olan plajları kirletiyor. Temizleme çalışmalarına ordu da katılmış. Ancak ne kadar temizlenirse, bir o kadar çöp çıkıyor.

                            Küresel plastik sorunu
                            Plastik kirliliği bütün dünyanın sorunu. Her yıl, en az 8 milyon ton plastik okyanusa atılıyor, bunu her dakika okyanusa bir kamyon atık gönderilmesine benzetebiliriz. Denizde yaşayan canlılar ve kuşlar bunları yedikleri için veya bunlara sıkışıp kaldıkları için ölüyorlar. Plastik de ufalanarak gıda zincirine giriyor.

                            Plastik ambalajın yalnızca %14’ü geri dönüşüme alınıyor, bu sırada pek çok plastik ambalaj da yalnızca bir kere kullanılıyor. Buna ilave olarak, yıllık değeri 80-120 milyar dolar olan plastik ambalaj malzemesinin %95’i kayıp ediliyor. Bu büyük bir sorun, ancak bir sonuç bulmaya çalışan bir kuruluş oldu.
                            Yeni Plastik Ekonomisi
                            Ellen MacArthur Vakfı’nın Yeni Plastik Ekonomisi isimli oluşumu buluşçulardan üreticilere kadar önemli aktörleri bir araya getiriyor ve plastikle geleceğimizi tekrar düşünüp tasarlamayı amaçlıyor. Temel fikir plastiğin doğrusal ekonomisini (kullan ve at) dairesel bir hale çevirmek (yeniden kullan veya geri dönüştür).

                            Vakfın temel projelerinden biri iki milyon dolarlık plastik ekonomi buluş ödülü. Ödül ikiye ayrılıyor. Dairesel Tasarım Yarışması ile ambalaj tasarlanma yönteminin nasıl değiştirilebileceği inceleniyor, Dairesel Malzeme Yarışması ile de plastiğin nasıl başka malzemelerle birleştirilebileceği inceleniyor.

                            Plastik için yeni çözümler
                            Tasarım yarışmasının kazananlarından biri atılabilir kahve bardağı sorununa çözüm bulmaya çalışmış. Her yıl dünya üzerinde 100 milyar atılabilir kahve bardağı satılıyor ve neredeyse hiçbiri geri dönüşüme uğramıyor. ABD kökenli bir firma olan Trio-Cup, atılabilir kâğıt bardakları plastik kapağa ihtiyaç duymayacak şekilde origami benzeri bir teknikle üretiyor. Tamamen %100 kompostlanabilen bir malzemeden yapılıyor.

                            Malzeme kategorisi kazananlarından biri olan VTT Teknik Araştırma Merkezi (Finlandiya), görünümü ve dokusu plastiğe benzer, ancak tamamen tahtadan yapılmış bir ambalaj tasarlamış. Bu malzeme müsli, fındık ve peynir gibi ürünlerin saklanması için kullanılabilecek, ayrıca tarımsal ve orman yan ürünlerinden kaynaklanan çok tabakalı ve kompostlanabilen bir yapıya sahip. Teoride bu ambalaj mevcut plastik engel film pazarının %15’ine kadar olan kısmını karşılayabiliyor.

                            Evoware, Cakarta’nın su kaynaklarının plastik atıklar ile tıkanması sorununu çözmeye çalışan bir firma. Firma gıda malzemesi sarma amaçlı tek kullanımlık ambalajlara yönelmiş, bunlar toplamadan kaçarak kumsallara, akarsulara veya okyanusa gidiyor. Deniz yosunu esaslı bir malzemeyle yapılmış ürünler suda çözünebiliyor veya yenebiliyor. Bitkilerin beslenmesi için bile kullanılabiliyor. %100 bozunabilir ve vitaminler ile mineraller içeriyor, dolayısı ile bitkiler için doğal bir gübre fonksiyonu gösteriyor.

                            Buluş grubu şampiyonları 12 aylık hızlandırma programına katılacak (Think Beyond Plastic ile beraber) ve uzmanlarla çalışarak buluşlarının pazarlanabilir hale getirilmesine gayret edilecek.

                            Ancak, kazanan buluşlar çalışan bir plastik sistemini inşa etmeye ihtiyacımız olan çözümleri yansıtmakta ise de, bu girişimcilerin geçiş sürecini kendi başlarına yürütemeyeceği Ellen MacArthur Vakfı tarafından dillendiriliyor. İş dünyası, politika üretenler ve yatırımcılar plastikler için dairesel bir ekonomiye doğru gitmelidir.
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        <span>Yayınlandığı Tarih: 07.04.2018 22:09</span>
                    </div>
                </div>

                <div class="card mb-4">
                    <img class="card-img-top img-fluid" src="~/4.jpg">
                    <div class="card-body">
                        <h2 class="card-title">Fizikçiler altını titanyum ile kaplayarak dayanımını 4 kat artırdılar</h2>
                        <p class="card-text">
                            Kemik yerine geçecek malzemeler arandığında müracaat edilecek malzeme hâlâ titanyumdur. Sert, yıpranmaya karşı dayanıklı ve vücutla uyumlu olması ile, titanyum gerçek kemik için en iyi alternatiftir, belki de ondan bile daha iyidir. Kim bilirdi ki “altın standardı” artırmak için gerçekten altın ilave etmeliydiniz?

                            Rice Üniversitesi fizikçileri, titanyum ve altından oluşan alaşımın çelikten üç ile dört kat daha sert olduğunu ve yedek vücut parçaları için malzeme olarak daha da iyi olabileceğini keşfetti. Çalışma Science Advances dergisinde yayınlandı ve titanyum ile altının 3:1 oranındaki alaşımının özellikleri anlatıldı, bu malzemeye de Titanyum-3 adı verildi. Alaşımın titanyumdan üç ile dört kat daha sert olduğu tespit edildi.

                            Alaşımın biyo-uyumluluğuna ve aşınma oranına baktıklarında, araştırmacılar bunun üstün özellikleri olacağını biliyordu, çünkü buradaki metaller zaten biyo-uyumlu idi ve tıbbi implantlarda kullanılmıştı. Şaşırtıcı şekilde, Titanyum-3 beklentilerin ötesine geçti ve saf titanyuma göre daha biyo-uyumlu ve aşınmaya karşı dayanıklı çıktı.

                            Sert Kimya

                            Bu beklenmedik özellikler Titanyum-3’ün yapısından kaynaklanıyor. Araştırmacılar daha önce, daha yüksek sıcaklıklar kullanıldığı zaman alaşımın daha sert bir halinin ortaya çıkacağını bilmiyordu. Yüksek sıcaklıklar, alaşımın beta halinin neredeyse tamamen kristal bir formunu ortaya çıkarıyor.

                            Titanyum-3’ün yapısı. Görsel kaynağı: E. Morosan / Rice Üniversitesi

                            Çalışmanın öz kısmına göre, alaşımın sertliği “yüksek değerlik elektron yoğunluğu, düşük bağ uzunluğu ve yalancı aralık oluşumu ile ilişkilidir. Bu metaller arası bileşikteki sertliğin kaynağının anlaşılması daha üstün biyo-uyumlu, sert malzemelerin tasarlanması için büyük bir yol sağlayacaktır” şeklinde ifade ediliyor. Buna karşıt olarak, alaşımın düşük sıcaklıkta yapılması atomların başka bir yapıda yerleşmesine neden oluyor ve alfa tipi oluşuyor. Bu tip normal titanyum ile eşdeğer sertliğe sahip ve muhtemelen Titanyum-3’ün daha önce belgelendirilmiş halinin aynısı.
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        <span>Yayınlandığı Tarih: 07.04.2018 22:09</span>
                    </div>
                </div>

                <nav>
                    <ul class="pagination justify-content-end">
                        <li class="page-item"><a href="#" class="page-link bg-info text-white">Geri</a></li>
                        <li class="page-item"><a href="#" class="page-link bg-info text-white">1</a></li>
                        <li class="page-item"><a href="#" class="page-link bg-info text-white">2</a></li>
                        <li class="page-item"><a href="#" class="page-link bg-info text-white">3</a></li>
                        <li class="page-item"><a href="#" class="page-link bg-info text-white">4</a></li>
                        <li class="page-item"><a href="#" class="page-link bg-info text-white">5</a></li>
                        <li class="page-item"><a href="#" class="page-link bg-info text-white">6</a></li>
                        <li class="page-item"><a href="#" class="page-link bg-info text-white">İleri</a></li>
                    </ul>
                </nav>

            </div>
            <div class="col-md-4">

                <div class="card">
                    <h6 class="card-header bg-info text-white">Arama Kutusu</h6>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Kelime Girin" name="">
                            <span><button class="btn btn-secondary" type="button">Ara</button></span>
                        </div>
                    </div>
                </div>

                <div class="card my-4">
                    <h6 class="card-header bg-info text-white">Kategoriler</h6>
                    <div class="card-body">
                        <div class="row">

                            @foreach (var ders in Model)
        {
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">

                            <div class="caption">
                                <h6>@ders.Ders_Adı</h6>
                                @if (ders.Ders_Adı == "Matematik")
    {
                            <a href="/matematik"> <img src="~/matematik.jpg" alt="..." width="50" height="50"></a>
                            <p><small>Burak</small></p>
                            <br />

}
else if (ders.Ders_Adı == "Fizik")
{
                            <a href="/fizik"> <img src="~/fizik.jpg" alt="..." width="50" height="50"></a>
                            <p><small>Burak</small></p>
                            <br />
}
else if (ders.Ders_Adı == "Kimya")
{
                            <a href="/kimya"> <img src="~/kimya.jpg" alt="..." width="50" height="50"></a>
                            <p><small>Burak</small></p>
                            <br />
}
else if (ders.Ders_Adı == "Biyoloji")
{
                            <a href="/biyoloji"> <img src="~/biyoloji.png" alt="..." width="50" height="50"></a>
                            <p><small>Burak</small></p>
                            <br />
}
else
{
                            <img src="http://via.placeholder.com/300" alt="..." width="50" height="50">
                            <br />
}
                            </div>
                        </div>
                    </div>
}

                        </div>
                        @Styles.Render("~/Admin/scripts")
                    </div>
                </div>

                <div class="card my-4">
                    <h6 class="card-header bg-info text-white">Reklam Alanı</h6>
                    <div class="card-body" align="center">
                        <img class="img-fluid" src="~/e-learning.jpg" alt="Reklam Alanı">
                    </div>
                </div>

            </div>
        </div>
    </div>


    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</body>
</html>