<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>E-Öğrenme</title>
    <meta name="description" content="Kurumsal Blog Tasarımı">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="Burak TÜRKERİ">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

</head>
<body>

    

    <div class="container">
        <div class="row mt-4">
            <div class="col-md-12">

                <h1>Video Eğitimi Ara</h1>
                <hr class="bg-info">


                <div class="card-body">

                    <div class="card">
                        <h6 class="card-header bg-info text-white">Arama Kutusu</h6>
                        <div class="card-body">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Kelime Girin" name="">
                                <span><button class="btn btn-secondary" type="button">Ara</button></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>



    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</body>
</html>